$titulo: #7c9eb2;
$subtitulo: #7c9eb2;
$texto: #52528c;
$texto2: #000000;
$texto3: #7c9eb2;

$primary: #e39c8e;
$primary-light: #ffcdbe;
$primary-dark: #af6d61; 

$secondary: #ee924a;
$secondary-light: #ffc378;
$secondary-dark: #b7641c; 
